*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --whitecolor: #fff;
    --green: green;

    --container-lg: 88%;
    --container-md: 91%;
    --container-sm: 94%;
}

.container {
    width: var(--container-lg);
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.navmenu li{
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}
.navmenu li a {
    text-decoration: none;
    color: black;
}
.navmenu i{
    border: 1px solid rgb(186, 184, 184);
    padding: 6px;
}
.hero-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.hero-select{
    display: flex;
    gap: 10px;
}
.icons {
    display: flex;
    gap: 4px;
    border: 1px solid rgb(186, 184, 184);
}
.icons .trans {
    padding: 5px;
}
.icons .green {
    color: green;
    background: rgb(189, 189, 184);
    padding: 5px;
}
.hero-centre{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    /* grid-template-rows: repeat(2, auto); 2 rows, height adjusts automatically */
    
    gap: 2rem;
}

.hero-centre .card {
    display: flex;
    flex-direction: column;
    gap: 0.35rem
}

.hero-centre .card .orders {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(187, 185, 185);
    padding-top: 5px;
}

.hero-centre .card .orders .elipse {
    font-weight: bolder;
}

.hero-centre img{
    background-color: rgb(243, 237, 231);
    padding: 60px;
}

/* responsiveness for medium screens  */
@media screen and (max-width: 990px) {
    .container {
        width: var(--container-md);
    }

    .hero-centre {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* responsiveness for small screens */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-sm);
    }

    .hero-centre {
        grid-template-columns: 1fr;
    }
}